<!doctype html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title><%- title %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">
                <div class="masthead clearfix">
                    <div class="inner">
                        <h3 class="masthead-brand">Node.js Web Chat Application</h3>
                        <nav class="nav nav-masthead">
                            <a  class="active"  href="/">Home</a>
                        </nav>
                    </div>
                </div>
